* {
  margin: 0;
  padding: 0;
  font-family: "nunitoregular";
}

/* ---------- Font face ----------- */

@font-face {
  font-family: "nunitoregular";
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "distant_galaxyregular";
  src: url("../fonts/distgrg_-webfont.woff2") format("woff2"),
    url("../fonts/distgrg_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "New Waltograph";
  src: url("walter-webfont.woff2") format("woff2"),
    url("walter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pirate_scrollregular";
  src: url("pirate_scroll-webfont.woff2") format("woff2"),
    url("pirate_scroll-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ---------- Articles ----------- */

.attractions img {
  width: 100%;
}

.star-wars h2 {
  font-family: "distant_galaxyregular";
  text-align: center;
  margin: 0.5em;
  font-size: 1.6em;
}

.pirates h2 {
  font-family: "pirate_scrollregular";
  text-align: center;
  margin: 0.5em;
  font-size: 2em;
}

.castle h2 {
  font-family: "New Waltograph";
  text-align: center;
  margin: 0.5em;
  font-size: 2.2em;
}

.attractions p {
  text-align: justify;
  margin: 1.5em;
}
/* ---------- Bouton pré commande----------- */
.button-attractions {
  background-color: #136ab4;
  border: none;
  padding: 0.6em 1em;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  margin: auto;
  width: 40%;
}

.button-attractions:hover {
  box-shadow: 0.2em 0.2em 0.65em grey;
}

.container-button {
  display: inline-block;
  width: 100%;
  padding-bottom: 1em;
}

/* ---------- DESKTOP----------- */

@media (min-width: 768px) {
  .star-wars h2 {
    font-size: 5em;
  }

  .pirates h2 {
    font-size: 5em;
  }

  .castle h2 {
    font-size: 6em;
  }

  .attractions p {
    margin: 1em 6em 2em 6em;
    font-size: 1.5em;
  }

  .button-attractions {
    width: 20%;
    font-size: 2em;
  }
  .container-button {
    padding-bottom: 2em;
  }
}
