* {
  margin: 0;
  padding: 0;
}

/* ---------- Animation ----------- */

@keyframes slide {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  40% {
    left: -100%;
  }
  60% {
    left: -100%;
  }
  80% {
    left: -180%;
  }
  100% {
    left: -180%;
  }
}
/* ---------- Font face ----------- */

@font-face {
  font-family: "nunitoregular";
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "New Waltograph";
  src: url("walter-webfont.woff2") format("woff2"),
    url("walter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ------------ Features ------------- */

.features {
  font-family: "nunitoregular", sans serif;
  font-size: 0.8em;
  margin: 0.3em;
}

.features h2 {
  font-family: "New Waltograph", sans serif;
  font-size: 4em;
  color: #253b56;
  text-align: center;
}
/* --------- Première image -------- */

.first {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transition: width 0.5s;
}

.first:hover {
  width: 100%;
}
/* --------- description produit -------- */
.container-features {
  display: flex;
}

img {
  width: 50%;
  transition: width 0.5s;
}
img:hover {
  width: 60%;
}

article h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.3em;
  font-family: "nunitoregular", sans serif;
  text-align: center;
}

article p {
  padding: 0.7em;
  color: grey;
  text-align: center;
}

/* --------- Catalogue attractions -------- */
.attractions-proposal {
  background-color: rgb(18, 106, 180);
  overflow-x: hidden;
}
.attractions-proposal h2 {
  font-family: "New Waltograph", sans serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
  padding: 0.5em;
}

/* --------- Carrousel attraction -------- */
div#slider {
  width: 80%;
  max-width: 1000px;
  padding-bottom: 2em;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 2em;
  animation: 10s linear 1s infinite running alternate-reverse slide;
}

div#slider figure .slide {
  display: inline-block;
  width: 20%;
  height: auto;
  position: relative;
}

div#slider figure .slide img {
  width: 100%;
  box-shadow: 3px 5px 10px rgb(15, 15, 15);
}

/* --------- Boutton en savoir plus -------- */

.slide .pointer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
}

.slide .pointer a {
  text-decoration: none;
  color: white;
  font-family: "nunitoregular";
  border: 1px solid white;
  padding: 0 0.5em 0.3em 0.5em;
  border-radius: 0.2em;
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}

.slide .pointer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide .pointer a:hover {
  background-color: rgb(12, 166, 238, 0.4);
  border: 1px solid rgb(12, 166, 238, 0.4);
}
/* --------- mobile vr -------- */

.desktop {
  display: none;
}
/* ------------------ DESKTOP ----------------- */
@media (min-width: 768px) {
  .features h2 {
    font-size: 8em;
  }
  /* --------- DESKTOP slider-------- */
  div#slider {
    width: 34%;
  }
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
  /* --------- DESKTOP grid vr -------- */
  .grid-desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin-left: 22em;
  }

  .visual {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
  }

  .visual img {
    width: 70%;
  }
  .first {
    grid-column: 1;
    grid-row: 4;
  }

  .second {
    grid-column: 2;
    grid-row: 4;
  }
  .three {
    grid-column: 3;
    grid-row: 4;
  }
  .four {
    grid-column: 4;
    grid-row: 4;
  }
  .five {
    grid-column: 4;
    grid-row: 1;
  }
  .six {
    grid-column: 4;
    grid-row: 2;
  }
  .seven {
    grid-column: 4;
    grid-row: 3;
  }

  .img-grid {
    cursor: pointer;
  }

  /* --------- DESKTOP articles -------- */

  .container-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-articles .description {
    width: 45%;
    padding: 1em;
  }

  .description p {
    text-align: left;
    font-size: 1.5em;
  }

  .description h3 {
    text-align: left;
    font-size: 2em;
  }
  /* --------- DESKTOP catalogue -------- */

  .attractions-proposal h2 {
    font-size: 5em;
  }
  div#slider figure {
    position: static;
  }
}
