/* generique */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

/* ---------- Font face ----------- */

@font-face {
  font-family: "nunitoregular";
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "New Waltograph";
  src: url("../fonts/walter-webfont.woff2") format("woff2"),
    url("../fonts/walter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "distant_galaxyregular";
  src: url("../fonts/distgrg_-webfont.woff2") format("woff2"),
    url("../fonts/distgrg_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pirate_scrollregular";
  src: url("../fonts/pirate_scroll-webfont.woff2") format("woff2"),
    url("../fonts/pirate_scroll-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ---------- Animation ----------- */

@keyframes slide {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  40% {
    left: -100%;
  }
  60% {
    left: -100%;
  }
  80% {
    left: -180%;
  }
  100% {
    left: -180%;
  }
}



* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: "Noto Sans", sans-serif;*/
  font-family: "nunitoregular", sans serif;
  font-size: 22px;
}

h1,
h2 {
  font-family: "New Waltograph", sans serif;
}

.element-form {
  width: 98%;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 16px;
  height: 38px;
  line-height: 50px;
  display: block;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-left:7px;
  padding-right: 5px;
  font-size:18px;
}

.content-contact ul li,
.price,
.movie-news,
.p3,
.containt {
  color: gray;
  font-size: 20px;
  padding:9px 0 9px 0;
}



.content-contact h1 {
  font-size: 1.1em;
  padding-bottom: 8px;
}

select option {
  font-size: 16px;
}

.price h1 {
  margin-bottom: 10px;
  font-family: "nunitoregular", sans-serif;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

label {
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 8px;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clearfix {
  margin-top: 50px;
}

.text-small {
  font-size: 17px;
}

/* header */
header {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: rgb(18, 106, 180);
  color: white;
  top: 0;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: 1fr;
  z-index: 50;
}

header .logo {
  grid-column: 2 / span 9;
  grid-row: 1;
  position: relative;
  top: 5px;
}

.desktop {
  display: none;
}

header .logo img {
  width: 75px;
  position: relative;
  top: -7px;
}

header a {
  color: white;
}

.menu-burger {
  grid-column: 21;
  grid-row: 1;
  font-size: 40px;
  position: relative;
  top: 6px;
}

.shop {
  grid-column: 19;
  grid-row: 1;
  font-size: 39px;
  position: relative;
  top: 6px;
}

.users {
  grid-column: 17;
  grid-row: 1;
  font-size: 32px;
  position: relative;
  top: 8px;
}

nav {
  position: relative;
}

.mobile-menu {
  display: none;
  background-color: rgb(18, 106, 180);
  color: white;
  width: 81%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(10px);
}

.close {
  height: 40px;
}

.is-open {
  display: block;
}

.is-close {
  display: none;
}

.close #close {
  color: white;
  position: relative;
  top: 4px;
  left: 9px;
}

.close #close i {
  font-size: 40px;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.mobile-menu li {
  padding: 10px 0 10px 0;
  font-size:22px;
}

.mobile-menu a:hover {
  font-weight: bold;
}

.mobile-menu i {
  font-size: 25px;
  position: relative;
  top: 2px;
}

a.active {
  text-decoration: underline;
  font-weight: bold;
}

/* Main */

/* The alert message box */
.alert {
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


main {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  min-height: 305px;
}

.container-fluid {
  grid-column: 2 / span 20;
  grid-row: 1;
}

.bg-video {
  width: 100%;
  height: 23rem;
  position: relative;
  top: -3px;
}

.bg-video video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.bg-video .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  z-index: 1;
  display: flex;
}

.content-text {
  width: 80%;
  margin: auto;
}

.content-text p {
  position: relative;
  top: -11px;
}

.content-text h1 {
  font-size: 1.2em;
}

.hractualités {
  margin-top: 0;
  width: 150px;
}

.h1 {
  text-align: center;
  font-size: 16px;
  margin-top: -45px;
  margin-bottom: -25px;
}

.hr1 {
  width: 110px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  justify-items: center;
  margin-bottom: 15px;
}

.section article {
  width: 100%;
  margin-top: 25px;
}
.articles {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  justify-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 1.3em;;
}

.section-n h2{
  font-size: 25px;
  margin-bottom: 13px;
  margin-top: 15px;
  font-family: "nunitoregular", sans-serif;
}

.movie-news {
  width: 100%;
  line-height: 28px;
}

.asside {
  text-align: center;
  padding-bottom: 30px;
}

.asside .disguise {
  width: 85%;
}

.banner-attr {
  width: 100%;
  height: 8em;
}

.banner-attr img{
  width: 100%;
  height: 100%;
}
/*Images*/
.img1 {
  width: 100%;
  height: auto;
}
.img2 {
  width: 100%;
  height: auto;
}

/*Textes*/

.p {
  text-align: center;
  font-size: 18px;
  line-height: 25px ;
}

/* ------------ Features ------------- */

.features {
  font-family: "nunitoregular", sans serif;
  font-size: 0.8em;
  margin: 0.3em;
}

.features h2 {
  font-family: "New Waltograph", sans serif;
  font-size: 1.6em;
  color: #253b56;
  text-align: center;
}
/* --------- Première image -------- */

.first {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transition: width 0.5s;
}

.first:hover {
  width: 100%;
}
/* --------- description produit -------- */
.container-features {
  display: flex;
}

.container-features img,
img.img-product {
  width: 50%;
  transition: width 0.5s;
}
.container-features img:hover,
img.img-product:hover {
  width: 60%;
}



article h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.3em;
  font-family: "nunitoregular", sans serif;
  text-align: center;
}

article p {
  padding: 0.7em;
  color: grey;
  text-align: center;
}

/* --------- Catalogue attractions -------- */
.attractions-proposal {
  background-color: rgb(18, 106, 180);
  overflow-x: hidden;
}
.attractions-proposal h2 {
  font-family: "New Waltograph", sans serif;
  font-size: 1.1em;
  color: white;
  text-align: center;
  padding: 0.5em;
}

/* --------- Carrousel attraction -------- */
div#slider {
  width: 80%;
  max-width: 1000px;
  padding-bottom: 2em;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 2em;
  animation: 10s linear 1s infinite running alternate-reverse slide;
}

div#slider figure .slide {
  display: inline-block;
  width: 23%;
  height: auto;
  position: relative;
}

div#slider figure .slide img {
  width: 100%;
  box-shadow: 3px 5px 10px rgb(15, 15, 15);
}

/* --------- Boutton en savoir plus -------- */

.slide .pointer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
}

.slide .pointer a {
  text-decoration: none;
  color: white;
  font-family: "nunitoregular";
  border: 1px solid white;
  padding: 0.4em 0.5em 0.3em 0.5em;
  border-radius: 0.2em;
  font-size: 0.5em;
  position: relative;
  top: -0.8em;
  font-weight: bold;
  cursor: pointer;
}

.slide .pointer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide .pointer a:hover {
  background-color: rgb(12, 166, 238, 0.4);
  border: 1px solid rgb(12, 166, 238, 0.4);
}

/* Page contact */

.content-contact {
  display: flex;
  flex-wrap: wrap;
}

.content-contact article {
  width: 100%;
  padding: 0 0 10px 0;
}

textarea.element-form {
  height: auto;
  padding: 0;
  line-height: normal;
}
.section-contact {
  display: flex;
}

article ul li {
  padding-bottom: 10px;
}

article ul li i {
  font-size: 18px;
  color: rgb(18, 106, 180);
}

.map {
  border: 0;
  width: 100%;
  height: 18em;
}

/* page login */

.img-main {
  grid-row: 1;
  grid-column: 1 / span 22;
  height: 22em;
  position: relative;
  top: -8px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.block-center {
  margin: auto;
}

.button {
  display: block;
  color: black;
  border: 1px solid black;
  padding: 14px 15px;
  text-align: center;
  min-width: 80px;
  font-size: 21px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

form a {
  font-size: 0.8em;
}

form hr {
  width: 65%;
  margin: auto;
}

.text-small {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
  padding: 10px 0 10px 0;
  font-size: 24px;
}

.button:hover {
  background-color: rgb(18, 106, 188);
  border: 1px solid rgb(18, 106, 188);
  color: white;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-main img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.img-main form {
  width: 250px;
  min-height: 150px;
  padding: 15px;
  background-color: white;
  z-index: 2;
  border-radius: 8px;
  opacity: 0.7;
}

.opacity-img {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.img-main h1 {
  font-size: 1.4em;
}

.img-main p {
  position: relative;
  top: -10px;
}

.padding-input {
  padding: 10px;
}

/* Page shop */

.banner {
  width: 100%;
  height: 90px;
  position: relative;
  top: -29px;
}

.banner img {
  width: 100%;
  height: 100%;
}
.flex-box {
  width: 100%;
}

.flex-box article p,
.flex-box article ul {
  
  font-size: 20px;
  line-height: 25px;
  color:grey;
}

hr.mobile{
  margin: auto;
}

article.img {
  width: 100%;
  height: 200px;
}

article.img img {
  width: 100%;
  height: 100%;
}

article .product.element-form {
  height: 42px;
  font-size: 19px;
  line-height: 50px;
  width: 95%;
}

.content-product-text {
  text-align: center;
}

.content-product-text strong:first-child {
  display: block;
  font-size: 20px;
  margin-bottom: 12px;
}
.content-product-text strong:last-child {
  display: block;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.price {
  text-align: center;
  padding-bottom: 20px;
}

hr.mobile {
  width: 80%;
}

.price .form {
  padding: 7px 0 7px 0;
}

.form button {
  margin: auto;
  font-size: 23px;
}


.star-wars h2 {
  font-family: "distant_galaxyregular";
  text-align: center;
  margin: 0.5em;
  font-size: 1.6em;
}

.pirates h2 {
  font-family: "pirate_scrollregular";
  text-align: center;
  margin-top: 0.5em;
}

.castle h2 {
  font-family: "New Waltograph";
  text-align: center;
  margin: 0.5em;
  font-size: 2.2em;
}

.attractions{
  margin-bottom: 1.5em;
}

.attractions p {
  margin: 1.5em 0.02em 0.5em 0.02em;
  line-height: 25px;
}

/*Main*/
.divimg {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15px;
}

.p2 {
  position: absolute;
  z-index: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 25px;
  color: white;
  font-family: "Nunito";
}

.activities {
  text-align: center;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: bold;
}

/*Img*/

.imgnewyear {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.section-n .imgnewyear {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.section-n:hover .imgnewyear {
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
}

.section-n {
  margin-bottom: 30px;
}
.section2 {
  margin-bottom: 15px;
}
.containt {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.containt p {
  
  font-family: "nunitoregular", sans-serif;
}

.img3 {
  width: 100%;
  height: auto;
}

/*Textes*/
.text {
  text-align: center;
  font-size: 18px;
  font-family: "Nunito";
}

/*Flèche descriptif*/
.hide-block {
  display: none;
}

.show-block {
  display: block;
}

/*Descriptif*/
.block-text {
  color: black;
  text-align: center;
  background-color: rgba(18, 106, 188, 0.1);
  padding: 2px;
  margin-top: 0;
  margin-left: 2px;
  margin-right: 2px;
  bottom: 15px;
}

/*Main*/
.divimg {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15px;
}

.p2 {
  position: absolute;
  z-index: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 25px;
  color: white;
  font-family: "Nunito";
}

.activities {
  text-align: center;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: bold;
}

/*Img*/

.imgnewyear {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.section-n .imgnewyear {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.section-n:hover .imgnewyear {
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
}

.section-n {
  margin-bottom: 30px;
}
.section2 {
  margin-bottom: 15px;
}

.article img {
  height: 180px;
}

.img1 {
  width: 100%;
}
.img2 {
  width: 100%;
}
.img3 {
  width: 100%;
  height: auto;
}

/*Textes*/
.text {
  text-align: center;
  font-size: 18px;
  font-family: "Nunito";
}

/*Flèche descriptif*/
.hide-block {
  display: none;
}

.show-block {
  display: block;
}

/*Descriptif*/
.block-text {
  color: black;
  text-align: center;
  background-color: rgba(18, 106, 188, 0.1);
  padding: 8px 4px 8px 4px;
  margin-top: 0;
  margin-left: 2px;
  margin-right: 2px;
  bottom: 15px;
}

/* ---------- DESKTOP----------- */

/* footer */
footer {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  min-height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  font-size: 18px;
}

.container-footer {
  grid-column: 2 / span 20;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-footer a:hover {
  font-weight: bold;
}

.nastia {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.nastia img.mobile {
  width: 135px;
}

.icons-footer {
  width: 100%;
  text-align: center;
  padding-top: 18px;
}

.menu-footer {
  width: 100%;
  text-align: center;
}

footer li {
  padding: 5px 0 5px 0;
}

footer a i {
  font-size: 22px;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #00aced;
}

.twitter i {
  font-size: 26px;
}

.pinterest {
  color: #cb2027;
}

.youtube {
  color: #bb0000;
  position: relative;
  top: 1px;
  left: 6px;
  z-index: -1;
}
.youtube i {
  font-size: 27px;
}

.instagram {
  color: #517fa4;
}
.icons-footer i:hover {
  font-size: 30px;
}

.icons-footer a {
  padding: 0 2px 0 2px;
}

.copyright {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}

.copyright p {
  grid-row: 1;
  grid-column: 2 / span 12;
  font-size: 12px;
}

@media (min-width: 768px) {

  body {
    font-size: 14px;
  }

.content-contact ul li,
.price,
.movie-news,
.p3,
.containt {
  font-size: 15.5px;
  padding:9px 0 9px 0;
}

.asside {
  text-align: center;
}

.img-class {
  width: 100%;
  height: 394px;
  position: relative;
}

.img-class img {
  position: absolute;
  width: 350px;
  height: 300px;
}

.img-class img:nth-child(1) {
  z-index: 1;
  top:0;
  left: 0;
}

.img-class img:nth-child(2) {
  z-index: 2;
  bottom:0;
  left: 0;
  width: 450px;
}

.asside .block-righ{
  width: 45%;
  order: 2;
}

.asside .block-left {
  width: 45%;
  order:1;
}

h1 {
  font-size: 2.5em;   
}

.section2 img {
  width: 100%;
  height: 230px;
}

.asside,
.movie-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.movie-news .iframe, 
.movie-news .right-block {
  width: 45%;
  height: 260px;
}


.attractions a {
  width: 30%;
  margin: auto;
}
  p {
    
    line-height: 22px;
  }

  header {
    height: 75px;
  }

  .mobile {
    display: none;
  }

  .clearfix {
    height: 25px;
  }

  /* Header */
  .desktop {
    display: inline-block;
    position: relative;
    top: -10px;
  }

  header .logo {
    grid-column: 2 / span 2;
  }

  header .logo img {
    width: 130px;
  }

  .users {
    display: inline;
    grid-column: 18 / span 2;
    font-size: 16px;
    top: 33.5px;
    height: 40px;
  }

  .content-contact h1,
  .img-main h1 {
    font-size: 1.8em;
  }
  .users .bonhomme {
    left: 1px;
  }

  .menu-burger {
    display: none;
  }

  .banner-attr {
    width: 100%;
    height: 32em;
}

  .shop {
    grid-column: 20 / span 2;
    font-size: 20px;
    top: 30px;
    height: 40px;
  }

  .shop .panier {
    position: relative;
    top: 3px;
  }

  header .menu-desktop {
    grid-column: 7 / span 9;
    grid-row: 1;
  }

  header .menu-desktop ul li a i {
    font-size: 18px;
  }

  header .menu-desktop ul li a:hover,
  a.active {
    font-weight: bold;
    text-decoration: underline;
  }

  header .menu-desktop ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 50px;
  }

  header a .text-small {
    position: relative;
    top: 2px;
    left: -2px;
  }

  /* Main */

  .article img {
    height: 300px;
  }
  
  main {
    min-height: 410px;
  }

  .bg-video {
    height: 34rem;
  }

  .content-text p {
    top: -30px;
    font-size: 1.5em;
  }

  .content-text h1 {
    font-size: 3em;
  }


  .alert {
    font-size: 1.2em;
  }
  

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: auto;
  }
  article {
    margin: 5px;
  }

  .h1 {
    font-size: 28px;
    margin-top: -25px;
    margin-bottom: -35px;
  }
  .hr1 {
    width: 230px;
    margin-bottom: 10px;
  }
  .button {
    font-size: 16px;
  }

  .img1 {
    width: 100%;
    height: 22.25em;
  }
  .img2 {
    width: 100%;
    height: 22.25em;
  }
  .section article {
    width: 50%;
    margin-top: 25px;
  }
  .article .img1 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .article:hover .img1 {
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
  }
  .article .img2 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .article:hover .img2 {
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
  }

  .features h2 {
    font-size: 5em;
  }
  /* --------- DESKTOP slider-------- */
  div#slider {
    width: 29%;
  }

  .slide .pointer a {
    padding: 1em 1em 0.7em 1em;
  }

  /* --------- DESKTOP grid vr -------- */
  .grid-desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin-left: 22em;
  }

  .visual {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
  }

  .visual img {
    width: 70%;
  }
  .first {
    grid-column: 1;
    grid-row: 4;
  }

  .second {
    grid-column: 2;
    grid-row: 4;
  }
  .three {
    grid-column: 3;
    grid-row: 4;
  }
  .four {
    grid-column: 4;
    grid-row: 4;
  }
  .five {
    grid-column: 4;
    grid-row: 1;
  }
  .six {
    grid-column: 4;
    grid-row: 2;
  }
  .seven {
    grid-column: 4;
    grid-row: 3;
  }

  .img-grid {
    cursor: pointer;
  }

  /* --------- DESKTOP articles -------- */

  .container-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-articles .description {
    width: 45%;
    padding: 1em;
  }

  .description p {
    text-align: left;
    font-size: 1.5em;
  }

  .description h3 {
    text-align: left;
    font-size: 2em;
  }
  /* --------- DESKTOP catalogue -------- */

  .attractions-proposal h2 {
    font-size: 3em;
  }
  div#slider figure {
    position: static;
  }

  /* Page contact */

  .content-contact article {
    width: 45%;
    padding: 10px 20px 10px 20px;
  }

  form hr{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .map {
    height: 25em;
  }

  .content-contact article ul {
    width: 60%;
    margin: 80px auto;
    font-size: 16px;
  }

  .content-contact article {
    padding-bottom: 50px;
  }

  /* Page login */
  .img-main {
    height: 36.5em;
  }

  .img-main form {
    width: 330px;
  }
  form {
    text-align: center;
  }

  /* Page shop */

  article.img {
    width: 35%;
    height: 380px;
    margin: auto;
  }

  .banner {
    display: none;
  }

  .div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .description {
    width: 45%;
  }

  .price {
    width: 45%;
  }

  .star-wars h2 {
    font-size: 3.7em;
  }

  .pirates h2 {
    font-size: 3.7em;
  }

  .castle h2 {
    font-size: 3.7em;
  }

  .attractions p {
    margin: 1em 6em 2em 6em;
    font-size: 1.15em;
  }

  .button-attractions {
    width: 20%;
    font-size: 2em;
  }
  .container-button {
    padding-bottom: 2em;
  }

  .containt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
  }
  .text {
    text-align: center;
    font-size: 19px;
  }

  .img1,
  .img2,
  .img3 {
    width: 98%;
  }
  .img3 {
    margin-left: 5px;
  }
  .img2 {
    margin-left: 3px;
  }
  .divimg {
    height: 450px;
  }
  .p2 {
    font-size: 40px;
    font-family: "Nunito";
  }
  .activities {
    font-size: 28px;
  }
  .block-text {
    font-size: 18px;
  }

  /* product */

  /* Footer */
  footer {
    height: 70px;
  }

  .nastia {
    width: 25%;
    text-align: left;
  }

  .nastia img.desktop {
    width: 150px;
  }

  .menu-footer {
    width: 45%;
  }

  .menu-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 20px;
  }

  .icons-footer {
    width: 30%;
    text-align: right;
  }
}
